<div class="page-header">
  <h3>
    {{ site.title }}
    {% if site.subtitle %}<br/><small>{{ site.subtitle }}</small>{% endif %}
  </h3>
</div>

<p class="text-center">
  <img width="200px" src="{{ site.url }}/img/logo-360x360.png" alt="{{ site.title }} logo">
</p>

{% if site.description %}<p>{{ site.description }}</p>{% endif %}

  <script class="podlove-subscribe-button"
          src="/subscribe-button/javascripts/app.js"
          data-language="{{ site.language }}"
          data-size="medium auto"
          data-style="filled"
          data-json-data="podcastData"
          data-colors="#FC6E51;green;blue">
  </script>

  <script>
    window.podcastData = {
      "title": "{{ site['title']}}",
      "subtitle": "{{ site['subtitle']}}",
      "description": "{{ site['description']}}",
      "cover": "{{ site.url }}/img/logo-360x360.png",
      "feeds": [
      {% for feed in site['episode_feed_formats'] %}
        {
          "type": "audio",
          "format": "{{ feed }}",
          "url": "{{ site['url']}}/episodes.{{ feed }}.rss",
          "directory-url-itunes": "{{ site['itunes_url']}}",
          "variant": "high"
        },
      {% endfor %}
      ]
    }
  </script>
</p>

<hr/>

<h4>RSS-Feeds</h4>

<ol type="i">
  {% for feed in site['episode_feed_formats'] %}
    <li><a href="{{ site['url']}}/episodes.{{ feed }}.rss"><i class="fa fa-rss"></i> {{ feed }}-RSS-Feed</a></li>
  {% endfor %}
</ol>


<h4>Directories</h4>

<ol type="i">
  {% if site.itunes_url %}
    <li>in Apple-<a href="{{ site.itunes_url }}"><i class="fab fa-apple"></i> Itunes</a></li>
  {% endif %}
  {% if site.google_play_url %}
    <li>in <a href="{{ site.google_play_url }}"><i class="fab fa-google-play"></i>Google Play</a></li>
  {% endif %}
  {% if site.bitlove_url %}
    <li>as Torrents at <a href="{{ site.bitlove_url }}"><img src="https://bitlove.org/static/favicon.png"/> Bitlove</a></li>
  {% endif %}
  {% if site.fyyd_url %}
    <li>at the podcast search engine <a href="{{ site.fyyd_url }}">Fyyd</a></li>
  {% endif %}
  {% if site.gpodder_url %}
    <li>at <a href="{{ site.gpodder_url }}"><img src="https://gpodder.net/static/gpoddernet_64.png" height="16" /> Gpodder.net</a></li>
  {% endif %}
</ol>


<!-- <h4>Credits</h4> -->

<!-- <ul> -->
<!--   <li>Music: <a href="http://www.bensound.com/royalty-free-music">Bensound</a></li> -->
<!-- </ul> -->

<h4>Feedback</h4>


{% if site.flattr_uid %}
  <span class="pull-left">{{ site | flattr_button }}</span>
{% endif %}

{% if site.mastodon_url %}
  <a href="{{ site.mastodon_url }}"
     class="button btn-primary btn-sm"
     data-show-count="false">
    <i class="fab fa-mastodon"></i> @{{ site.mastodon_nick }}
  </a>
{% endif %}

{% if site.twitter_nick %}
  <a href="https://twitter.com/{{ site.twitter_nick }}"
     class="button btn-primary btn-sm"
     data-show-count="false">
    <i class="fab fa-twitter"></i>Follow @{{ site.twitter_nick }}
  </a>
{% endif %}


<hr/>

<h4>License</h4>

{% if site.license_url %}
  <a rel="license" href="{{ site.license_url }}">
    {% if site.license_image_url %}
      <img alt="Creative Commons License" style="border-width:0" src="{{ site.license_image_url }}" />
    {% else %}
      {{ site.license }}
    {% endif %}
  </a>
{% endif %}
